@font-face {
    font-family: 'Victor Mono';
    src: url('../fonts/VictorMono.ttf') format('ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Victor Mono Italic';
    src: url('../fonts/VictorMono-Italic.ttf') format('ttf');
    font-style: normal;
}