@font-face {
    font-family: 'VictorMono';
    src: url('../fonts/VictorMono.ttf') format('opentype');
    font-style: normal;
    font-weight: 100 700;
}
@font-face {
    font-family: 'VictorMono';
    src: url('../fonts/VictorMono-Italic.ttf') format('opentype');
    font-style: italic;
    font-weight: 100 700;
}