// @use '_reset';
// @use '_normalize';
@import '_normalize.scss';
@import '_reset.scss';
@import '_fonts.scss';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 82vw;
    margin: 0 auto;
}

$base-002: #1E0437;
$base-003: #0C001E;
$base-004: #14001E;
$text-001: #E6DAF5;
$text-002: #4E1768;
$header-001: #19032E;
$accent-001: #B4A414;
$addit-text-001: #634574;

body {
    background-color: $base-002;
}
.header {
    position: fixed;
    padding: 30px 50px;
    background-color: $header-001;
    border-radius: 10px;
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.25);
    top: 30px;
    left: 130px;
    transition: all 0.3s ease-in-out;
    &__container {
        position: relative;
    }
    &_hidden {
        transform: translateY(-91px);
        opacity: 50%;
        // cursor: pointer;
    }
    &__chevron {
        display: none;
        &_unhidden {
            display: block;
            all: unset;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 150%);
            transition: all 0.3s ease-in-out;
            opacity: 55%;
            &:hover {
                opacity: 100%;
            }
        }
        &_opened {
            transform-origin: center;
            transform: translate(-50%, 150%) rotate(180deg);
        }
    }
    &__menu {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 75px;
        li a {
            font-family: 'VictorMono';
            font-weight: 400;
            font-size: 1.5rem;
            color: $text-001;
            text-decoration: none;
            border: none;
            background: none;
            line-height: normal;
            opacity: 35%;
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 100%;
            }
        }
    }
}

.home {
    // background-color: $base-003;
    background-image: url(../img/home-bg.png);
    background-size: 270%;
    background-position-x: 30%;
    background-position-y: 50%;
    margin-bottom: 145px;
    &__container {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    &__title {
        font-family: 'VictorMono';
        font-style: normal;
        font-size: 6.25rem;
        font-weight: 600;
        line-height: 135%;
        color: $accent-001;
        margin-bottom: 75px;
        text-shadow: 7px 4px 2px rgba(0, 0, 0, 0.45);
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.call-button {
    all: unset;
    cursor: pointer;
    font-family: 'VictorMono';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: $text-002;
    background-color: $text-001;
    padding: 16px 43px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: $base-004;
        background-color: $accent-001;
    }
}

.decor-text {
    font-family: 'VictorMono';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: $addit-text-001;
    margin-bottom: 20px;
}

.title-text {
    font-family: 'VictorMono';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: $accent-001;
    margin-bottom: 70px;
}

.about-me {
    margin-bottom: 100px;
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 100px;
        margin-bottom: 40px;
    }
    &__photo {
        width: 20vw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 8px 8px 4px 0 rgba(0, 0, 0, 0.25);
    }
    &__text {
        font-family: 'VictorMono';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 158%;
        color: $text-001;
        & span:nth-of-type(1) {
            font-weight: 800;
        }
        & span:nth-of-type(2) {
            font-weight: 800;
        }
        & span:nth-of-type(3) {
            font-style: italic;
        }
    }
    &__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
    }
}

.my-skills {
    margin-bottom: 100px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__skill-svg {
        margin-bottom: 10px;
    }
    &__skill-name {
        font-family: 'VictorMono';
        font-weight: 300;
        font-size: 24px;
        text-align: center;
        color: $text-001;
        line-height: 135%;
    }
}

.my-projects {
    margin-bottom: 130px;
}

.contact-me-block {
    background-color: $base-004;
    padding: 69px 0px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text {
        font-family: 'VictorMono';
        font-weight: 700;
        font-size: 64px;
        color: $accent-001;
        margin-bottom: 40px;
        text-align: center;
    }
}